<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObrazRadioIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3455F38B1D4FCADD00B2A980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3455F3A41D4FCADE00B2A980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3455F3AF1D4FCADE00B2A980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
